
*.ipch
*.db
.vs/Dreamcast-Nude-Pack/v16/.suo
*.obj
*.tlog
*.log
*.recipe
*.ilk
*.pch
Debug/Dreamcast-Nude-Pack.vcxproj.FileListAbsolute.txt
*.pdb
*.idb
Dreamcast-Nude-Pack.vcxproj.user
*.ipdb
*.iobj
*.opendb
*.db-wal
*.db-shm
Release/Dreamcast-Nude-Pack.vcxproj.FileListAbsolute.txt
enc_temp_folder/958238706f63d45781a7063a7d67c0/amy_shower.cpp
enc_temp_folder/958238706f63d45781a7063a7d67c0/amy_shower.cpp
enc_temp_folder/958238706f63d45781a7063a7d67c0/amy_shower.cpp
enc_temp_folder/958238706f63d45781a7063a7d67c0/amy_shower.cpp
/Textures
/.vs
*.lib
/Dreamcas.20be0a6a
